/*4 - External CSS*/
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

p {
    color: blueviolet;
}

/* 8 - classes */

.paragraph {
    background-color: black;
    color: aqua;
    padding: 5px;
}